*{
     margin: 3px;;
    padding: 3px;
    box-sizing: border-box;
}

#nav{
    background-color: white;
}

header{
font-family: monospace;
color: red;
text-decoration: underline;
}

body{
    background-color: black;
    color: antiquewhite;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#p1{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
#CONT{
    font-weight: bolder;
}  

#images{
    border: 2px solid;
    color: aquamarine;
    overflow: auto;
}

#PHOTOS{
    color: antiquewhite;
}

#Bio{
    border: 2px solid;
    color: salmon;
}


#info{
    border: 2px solid;
    color: blue;
}

#reset :hover{
    background-color: red;
}

#submit :hover{
    background-color: green;
}