*{
     margin: 3px;;
    padding: 3px;
    box-sizing: border-box;
}

header{
font-family: monospace;
}

body{
    background-color: black;
    color: antiquewhite;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#CONT{
    font-weight: bolder;
}  

#reset :hover{
    background-color: red;
}

#submit :hover{
    background-color: green;
}